<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<meta charset="utf-8">
	<link href="~/Stylesheet.css" rel="stylesheet" />
</head>
<body>
	<div class="page-content">
			@RenderSection("heading", false)
			@RenderBody()
	</div>
</body>
</html>
